.healthy-food-section {
    background-color: #f9fbfe;
  }
  .healthy-food-section-img {
    width: 270px;
  }
  .healthy-food-section-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
  }
  .healthy-food-section-description {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
  }
  .custom-button {
    color: white;
    background-color: #d0b200;
    width: 130px;
    height: 45px;
    border-width: 0;
    border-radius: 8px;
    margin-right: 10px;
  }

/* --------------------------------- */
.delivery-and-payment-section {
    background-image: white;
  }
  .delivery-and-payment-section-img {
    width: 270px;
  }
  .delivery-and-payment-section-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
  }
  .delivery-and-payment-section-description {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
  }
  .payment-card-img {
    width: 50px;
    height: 50px;
    margin-right: 28px;
  }
  .custom-button {
    color: white;
    background-color: #d0b200;
    width: 130px;
    height: 45px;
    border-width: 0;
    border-radius: 8px;
    margin-right: 10px;
  }




  /* -------------------------------------- */
  .thanking-customers-section {
    background-image: radial-gradient(#fff8db, #fae38c);
  }
  .thanking-customers-section-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
  }
  .thanking-customers-section-description {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
  }
  .thanking-customers-section-img {
    width: 270px;
    margin-bottom: 20px;
  }
  .custom-button {
    color: white;
    background-color: #d0b200;
    background-image: radial-gradient(rgb(253, 54, 54), rgb(138, 138, 255));
    width: 130px;
    height: 45px;
    border-width: 0;
    border-radius: 8px;
    margin-right: 10px;
  }
  /* --------------------------------------------------------------- */
  .voucher-heading{
    color: #d0b200;
    font-weight: bold;
  }